.full{
  width: 100%!important;
  height: auto;
  padding: 20px 0 0!important;
  margin-top: -45px!important;
  @media screen and (max-width: 320px) {
    height:480px!important;
  }
}
.relative{
  position: relative;
}
.nav-ul{
  li {
    @media screen and (max-width: 320px) {
      height:40px!important;
    }
  }
  width: 93%!important;
  padding-left: 4px!important;
  .content{
    color: white!important;
    font-weight: 100;
    @media screen and (max-width: 320px) {
      line-height:22px!important;
    }
  }
}
.padding-left-20{
  padding-left: 20px;
}
