.hotello-header {
  .e-align-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bg {
    height: 140px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('../img/navigation-bg.jpg') no-repeat center center;
    i {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .nav-ul{
    li {
      @media screen and (max-width: 320px) {
        height:40px!important;
      }
      a:hover {
        cursor: pointer;
        color: #33691e;
      }
    }
    width: 93%!important;
    padding-left: 4px!important;
    .content{
      font-weight: 600;
      @media screen and (max-width: 320px) {
        line-height:40px!important;
      }
    }
  }
  .e-padding-10 {
    padding: 10px;
  }
}
