.hotello-info {
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    &.wrap {
      flex-wrap: wrap;
    }
    &.start {
      justify-content: flex-start;
    }
  }

  .tab-look {
    ul {
      padding-left: 0;
      li {
        width: 50%;
      }
    }
  }
  .inline {
    display: inline;
  }
  .bg-pear {
    background: linear-gradient( rgba(0, 4, 0, 0.5), rgba(0, 4, 0, 0.5) ), url('../img/Pear.jpg')  center center no-repeat;
    background-size: cover;
  }
  .e-tabs-container .e-tab-content.active {
    padding: 0;
  }
  i[name=action-star-rate] {
    font-size: 16px;
    font-weight: bold;
  }
  .align-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    &.stretched {
      align-items: stretch;
    }
    &.around {
      justify-content: space-around;
    }
  }
  .padding-row {
    padding: 5px 15px;
  }
  h2 {
    margin-bottom: 10px;
  }
  p, span {
    margin-bottom: 0;
  }
  .bg-apple {
    background: url('../img/rsz_apple.png') center center no-repeat;
    background-size: cover;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .bg-apricot {
    background: linear-gradient( rgba(0, 4, 0, 0.6), rgba(0, 4, 0, 0.6) ), url('../img/apricot.jpg') center center no-repeat;
    background-size: cover;
  }
  .bg-peach {
    background: linear-gradient( rgba(0, 4, 0, 0.6), rgba(0, 4, 0, 0.6) ), url('../img/peach.jpg') center center no-repeat;
    background-size: cover;
  }
  .bg-plum {
    background: linear-gradient( rgba(0, 4, 0, 0.6), rgba(0, 4, 0, 0.6) ), url('../img/plum.jpg') no-repeat center center;
    background-size: cover;
  }
  .half-w {
    width:50%;
    &.bg-pear {
      background: url('../img/pear.jpg') no-repeat;
    }
    &.bg-plum {
      background: url('../img/plum.jpg') no-repeat;
    }
    .bg-peach {
      background: url('../img/peach.jpg') no-repeat;
    }
  }
  .no-margin {
    margin: 0;
  }
  .procent {
    width: 42px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align: center;
    .e-divider {
      margin: 0 auto;
      width: 60%;
    }
    &.centered-pr {
      position: relative;
      margin: 47px auto 10px;
    }
  }
  .padding-col {
    padding: 0 5px;
  }
  .padding-top-5 {
    padding-top: 5px;
    }
  .discount {
    text-decoration: line-through;
  }
  .full-w {
    width: 100%;
  }
  .icon-look {
    width: 28px;
    padding-top: 2px;
    border-radius: 50%;
  }
  .border-input-icon {
    border-bottom: 2px solid #eee;
    display: flex;
    height: 40px;
    .align-to {
      line-height: 41px;
    }
  }
  .with-icon {
    width: 90%;
    display: inline-block;
    .e-input {
      border: 0;
    }
    .e-input:not(textarea):not(select){
      padding-bottom: 16px;
      padding-left: 6px;
    }
    &.e-input-group .e-input:focus {
      border-bottom: 0;
      margin-top: -4px;
    }
    &.date-picker {
      width: 35%;
    }
  }
  .icon-in-input {
    width: 10%;
    display: inline-block;
    text-align: left;
    padding-top: 8px;
    font-size: 18px;
  }
  .padding-15 {
    padding: 15px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .logo-img {
    width: 41px;
  }
  .margin-t-para {
    margin-top: -7px;
  }
  .icon-close {
    &.fab-mini {
      box-shadow: none;
      &:hover:not(.flat) {
        box-shadow: none;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .margin-15 {
    margin: 15px;
  }
  .margin-b-para {
    margin-bottom: -7px;
  }
  .no-padding {
    padding: 0;
  }
  .margin-r-15 {
    margin-right: 15px;
  }
  .badge-sell {
    position: absolute;
    margin-left: -11px;
    margin-top: -11px;
    border-radius: 50%;
    padding: 7px 4px;
    font-size: 10px;
  }
  .list-icon {
    font-size: 24px;
    margin: 5px;
  }
  .display-in-b {
    display: inline-block;
  }
  .padding-list {
    padding: 5px 5px 5px 0;
  }
  .align-list {
    line-height: 14px;
  }
  .border-r {
    border-right: 1px solid #cfd8dc;
  }
  .border-b {
    border-bottom: 1px solid #cfd8dc;
  }
  .bg-airport {
    background: linear-gradient( rgba(0, 4, 0, 0.2), rgba(0, 4, 0, 0.2) ), url('../img/airport.jpg') center center no-repeat;
    background-size: cover;
  }
  .header-h {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
  }
  .close-bg {
    background: inherit;
    &.fab-mini {
      box-shadow: none;
      &:hover:not(.flat) {
        box-shadow: none;
      }
    }
  }
  .center-header {
    margin: 0 auto;
    padding-right: 35px;
  }
  .block-h {
    height: calc(100vh-7.042253);
    padding: 0 15px;
  }
  .bg-voucher {
    background: linear-gradient( rgba(0, 4, 0, 0.2), rgba(0, 4, 0, 0.2) ), url('../img/voucher.jpg') no-repeat;
    background-size: cover;
  }
  .margin-b-15 {
    margin-bottom: 15px;
  }
  .bg-end {
    background: url('../img/the-end.jpg') center center no-repeat;
    background-size: cover;
    img {
      width: 60px;
    }
  }
  .white {
    .e-input-group .e-input:not(textarea):not(select),
    .e-input:not(textarea):not(select) {
      color: #eee;
    }
    input {
      &::-webkit-input-placeholder {
      color: #eee;
      }
    }
  }
  .center-palceholder {
    input {
      &::-webkit-input-placeholder {
        text-align: center;
      }
    }
  }

}
