.hotello-payment {
  .e-flex-container {
    display: flex;
    &.e-align-column {
      flex-direction: column;
    }
    &.e-align-row {
      flex-direction: row;
    }
    &.e-space-between {
      justify-content: space-between;
    }
    &.e-space-around {
      justify-content: space-around;
    }
  }
  .e-padding-10 {
    padding: 10px;
  }
  .e-tabs {
    width: 100%;
    height: 50px!important;
    .e-tabs-list {
      width: 100%;
      padding: 0;
      height: 50px;
      li {
        width: 25%;
        height: 50px!important;
        &:last-child a {
          background-color: #ffea00;
        }
        a {
          padding: 0!important;
          height: 50px;
          background-size: cover;
          span {
            font-size: 11px;
            font-weight: 600;
          }
          img {
            max-height: 50px;
            max-width: 100%;
          }
          p {
            margin: 0;
            padding: 0;
            line-height: 23px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .e-tabs-container {
    .e-card {
      img {
        max-width: 50px;
      }
      .credit-card {
        margin: 10px;
        button {
          margin: 15px 0;
        }
        input {
          min-width: 50px;
          max-width: 100%;
          border: 0;
          &::-webkit-input-placeholder {
             color: #000;
             text-align: right;
          }
        }
        .input-adjust {
          width: 50px!important;
        }
        .bd-bottom {
          border-bottom: 1px solid lightgrey;
        }
      }
      .wallet {
        input {
          border-bottom: 1px solid lightgrey;
          text-align: center;
        }
      }
      .paypal {
        img {
          max-width: 100%;
        }
        a {
          cursor: pointer;
        }
      }
    }
  }
}
