.hotello-results {
  a:focus {
    outline: none;
  }
  font-size: 14px;
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    &.wrap {
      flex-wrap: wrap;
    }
    &.start {
      justify-content: flex-start;
    }
  }
  .inline {
    display: inline;
  }
  i[name=action-star-rate] {
    font-size: 16px;
    font-weight: bold;
  }
  .align-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    &.stretched {
      align-items: stretch;
    }
    &.around {
      justify-content: space-around;
    }
  }
  .padding-row {
    padding: 5px 15px;
  }
  h2 {
    margin-bottom: 10px;
  }
  p, span {
    margin-bottom: 0;
  }
  .discount {
    text-decoration: line-through;
  }
  .full-w {
    width: 100%;
  }
  .icon-look {
    width: 28px;
    padding-top: 2px;
    border-radius: 50%;
  }
  .logo-img {
    width: 41px;
  }
  .margin-t-para {
    margin-top: -7px;
  }
  .icon-close {
    &.fab-mini {
      box-shadow: none;
      &:hover:not(.flat) {
        box-shadow: none;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .margin-15 {
    margin: 15px;
  }
  .margin-b-para {
    margin-bottom: -7px;
  }
  .margin-r-15 {
    margin-right: 15px;
  }
  .badge-sell {
    position: absolute;
    margin-left: -11px;
    margin-top: -11px;
    border-radius: 50%;
    padding: 7px 4px;
    font-size: 10px;
  }
  .header-h {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    @media screen and (min-width: 760px) {
      height: 56px;
    }
  }
  .center-header {
    margin: 0 auto;
    padding-right: 35px;
  }
  .align-para {
    vertical-align: text-bottom;
  }
}
