body {
  margin: 0;
}
.HotelloBrowser .logo {
  width: 100%;
  height: 568px;
}
.HotelloBrowser .flex {
  display: flex;
  justify-content: center;
  align-content: center;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
